@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font: 100%/1.4 Palatino, URW Palladio L, serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #DDDDDD;
}

a:link {
     color: #1EA5DC;
}
a:visited {
     color: #1EA5DC;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
body {
	margin: 0 auto;
}
.homePage {
	background: #062B47;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #3896D9;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #5999C9;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #DDDDFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #6084A0;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
